:root {
  --vp-layout-max-width: 100vw;
  --vp-sidebar-width: 240px;
}
.has-aside .content-container {
  max-width: 100% !important;
}
.VPSidebar {
  padding-left: 4px !important;
  padding-right: 4px !important;
  .group {
    width: 100%;
    .item {
      padding-left: 20px;
      padding-right: 20px;
    }
    .items {
      .item {
        padding-left: 0;
        padding-right: 0;
      }
      .VPSidebarItem {
        padding: 2px 20px;
        transition: background-color 0.2s;
        border-radius: 4px;
        &:hover {
          background-color: var(--vp-c-brand-soft) !important;
        }

        &.is-active {
          background-color: var(--vp-c-brand-soft);
        }
      }
    }
  }
}
